

.slide-in-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .slide-in-item {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
    margin-bottom: 20px; 
  }
  
  .slide-in {
    opacity: 1;
    transform: translateX(0); 
  }
  